fastapi
uvicorn[standard]

# ONNX Runtime (CPU version — FAST)
onnxruntime==1.18.0

# CV + Math
opencv-python-headless
numpy

# ML utilities
mediapipe
joblib
scikit-learn

# File uploads
python-multipart

# High-performance server extras
httptools
uvloop

# ASGI framework
starlette
